[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
pymongo = "*"
dnspython = "*"
marshmallow-dataclass = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[scripts]
serve = "flask run -h 0.0.0.0"
