[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
pymongo = "*"
marshmallow-dataclass = "*"
python-dotenv = "*"
dnspython = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
serve = "flask run --host 0.0.0.0"
routes = "flask routes"
